<div class="principal-container">
  <div class="left-container">
    <img src="Logo.png" alt="" />
    <h1>Punto Celular JMT</h1>
  </div>
  <div class="right-container">
    <div class="into">
        <h1>Iniciar Sesion</h1>
    <div class="form">
      <form action="">
        <div class="fields">
          <label for="">Correo Electronico</label>
          <div class="input">
          <input type="email" placeholder="ejemplo@gmail.com" />
          <img src="Letter.png" alt="" />
          </div>
        </div>
        <div class="fields">
            <label for="">Contraseña</label>
            <div class="input">
            <input type="password" placeholder="********" />
            <img src="Password.png" alt="">
            </div>
        </div>
      </form>
      <div class="buttom">
        <button class="btn">Iniciar Sesion</button>
      </div>
    </div>
    </div>
  </div>
</div>
