<div class="fondo">
  <div class="modal">
    @if(modeUpdate === 'user'){
    <h2 class="title">Editar Usuario</h2>
    <hr />
    <form [formGroup]="userForm" class="form">
      <div class="fields">
        <label for="firstName">Nombre</label>
        <div class="inputIcon">
          <input
            type="text"
            id="firstName"
            name="firstName"
            required
            [(ngModel)]="user.firstName"
            formControlName="firstName"
            class="filled"
            placeholder="Luis"
          />
          <img src="User.png" alt="" />
        </div>
      </div>
      <div class="fields">
        <label for="lastName">Apellido</label>
        <div class="inputIcon">
          <input
            type="text"
            id="lastName"
            name="lastName"
            required
            [(ngModel)]="user.lastName"
            formControlName="lastName"
            class="filled"
            placeholder="Ariza"
          />
          <img src="User.png" alt="" />
        </div>
      </div>
      <div class="fields">
        <label for="idNumber">Documento</label>
        <div class="inputIcon">
          <input
            type="number"
            id="idNumber"
            name="idNumber"
            required
            [(ngModel)]="user.idNumber"
            formControlName="idNumber"
            class="filled"
            placeholder="100000000"
          />
          <img src="IdDocument.png" alt="" />
        </div>
      </div>
      <div class="fields">
        <label for="email">Correo Electronico</label>
        <div class="inputIcon">
          <input
            type="text"
            id="email"
            name="email"
            required
            [(ngModel)]="user.email"
            readonly
            formControlName="email"
            class="filled"
            placeholder=""
          />
          <img src="Letter.png" alt="" />
        </div>
      </div>
      <div class="fields">
        <label for="role">Rol</label>
        <select name="role" id="role" 
        [(ngModel)]="user.role" formControlName="role" class="select_input">
          <option selected="true" disabled="disabled">Seleccione un rol</option>
          <option value="empleado">Empleado</option>
          <option value="administrador">Administrador</option>
        </select>
      </div>
      <div class="fields">
        <label for="password">Contraseña</label>
        <div class="inputIcon">
          <input
            type="password"
            id="password"
            name="password"
            required
            formControlName="password"
            class="filled"
            [(ngModel)]="user.password"
            placeholder="********"
          />
          <img src="Password.png" alt="" />
        </div>
        <div class="fields">
        <label for="state">Estado</label>
        <select name="state" id="state" [(ngModel)]="user.state" class="select_input" formControlName="state">
          <option selected="true" disabled="disabled">Seleccione un Estado</option>
          <option value="activo">Activo</option>
          <option value="inactivo">Inactivo</option>
          <option value="inactivo">bloqueado</option>
        </select>
      </div>
      </div>
    </form>
    } @else if (modeUpdate === 'product') {
     <h2 class="title">Editar Producto</h2>
    <hr />
    <form [formGroup]="productForm" class="form">
      <div class="fields">
        <label for="codigo">Codigo</label>
        <div class="inputIcon">
          <input
            type="text"
            id="codigo"
            name="codigo"
            required
            readonly
            [(ngModel)]="product.codigo"
            formControlName="codigo"
            class="filled"
            placeholder="IPHO1457"
          />
        </div>
      </div>
      <div class="fields">
        <label for="nombre">Referencia</label>
        <div class="inputIcon">
          <input
            type="text"
            id="nombre"
            name="nombre"
            [(ngModel)]="product.nombre"
            required
            formControlName="nombre"
            class="filled"
            placeholder="Iphone 14"
          />
        </div>
      </div>
      <div class="fields">
        <label for="marca">Marca</label>
        <div class="inputIcon">
          <input
            type="text"
            id="marca"
            name="marca"
            required
            [(ngModel)]="product.marca"
            formControlName="marca"
            class="filled"
            placeholder="Apple"
          />
        </div>
      </div>
      <div class="fields">
        <label for="estado">Estado</label>
        <select name="estado" class="select_input" id="estado" [(ngModel)]="product.estado" formControlName="estado">
          <option selected="true" disabled="disabled">Seleccione un estado</option>
          <option value="Nuevo">Nuevo</option>
          <option value="Usado">Usado</option>
          <option value="Reacondicionado">Reacondicionado</option>
        </select>
      </div>
      <div class="fields">
        <label for="color">Color</label>
        <div class="inputIcon">
          <input
            type="text"
            id="color"
            name="color"
            required
            [(ngModel)]="product.color"
            formControlName="color"
            class="filled"
            placeholder="Negro"
          />
        </div>
        
      </div>
          <div class="fields">
        <label for="precio">precio</label>
        <div class="inputIcon">
          <input
            type="number"
            id="precio"
            name="precio"
            required
            [(ngModel)]="product.precio"
            formControlName="precio"
            class="filled"
            placeholder="$1.254.789"
          />
        </div>
        
      </div>
         <div class="fields">
        <label for="stock">stock</label>
        <div class="inputIcon">
          <input
            type="number"
            id="stock"
            name="stock"
            required
            [(ngModel)]="product.stock"
            formControlName="stock"
            class="filled"
            placeholder="10"
          />
        </div>
        
      </div>
       <div class="fields">
        <label for="categoria">Categoria</label>
        <select name="categoria" class="select_input" id="categoria" [(ngModel)]="product.categoria" formControlName="categoria">
          <option selected="true" disabled="disabled">Seleccione una categoria</option>
          <option value="Celulares">Celulares</option>
          <option value="Accesorios">Accesorios</option>
        </select>
      </div>
      <div class="fields">
        <label for="descripcion">Descripcion</label>
        <div class="inputIcon">
          <input
            type="text"
            id="descripcion"
            name="descripcion"
            required
            [(ngModel)]="product.descripcion"
            formControlName="descripcion"
            class="filled"
            placeholder=""
          />
        </div>
      </div>
      

    </form>
    }
    <div class="buttons">
      <button class="buttonCancel" (click)="close.emit()">Cancelar</button>
      <button type="submit" class="buttonUpdate" (click)="updateOne()">
        Editar
      </button>
    </div>
  </div>
</div>